<footer>
    <!-- footer -->
    <section class="relative bg-maincolor-100 pt-8 pb-6">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap text-left lg:text-left">
                <div class="w-full lg:w-4/12 px-4">
                    <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                        <a routerLink="/home" class="flex flex-shrink-0 items-center">
                            <img src="/assets/images/logo_white.png" alt="logo">
                                
                            <span class="text-white leading-6 text-2xl font-medium tracking-wide">კლინიკა</span>
                        </a>
                    </div>
                </div>
                <div class="w-full lg:w-8/12 px-4">
                    <div class="flex justify-between flex-wrap">
                        <div>
                            <span class="block text-white pt-5">ინფორმაცია</span>
                            <hr class="border-[#ECF2F8]/10 my-4">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">ჩვენ შესახებ</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">პარტნიორები</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">ექიმებისთვის</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">კლინიკებისთვის</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">აფთიაქებისთვის</a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <span class="block text-white pt-5">პაციენტებისთვის</span>
                            <hr class="border-[#ECF2F8]/10 my-4">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">ექიმები</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">კლინიკები</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">ანოტაციები</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">ბლოგი</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">მედია</a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <span class="block text-white pt-5">კონტაქტი</span>
                            <hr class="border-[#ECF2F8]/10 my-4">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">სამუშაო დღეები : <br>
                                        ორშ - პარ</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">სამუშაო დრო : <br>
                                        9:00 - 17:00</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">იაკობ ნიკოლაძე №10</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">032 2 100 100</a>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <span class="block text-white pt-5">გამოგვყევით</span>
                            <hr class="border-[#ECF2F8]/10 my-4">
                            <ul class="list-unstyled">
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">Facebook</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">Instagram</a>
                                </li>
                                <li>
                                    <a class="text-white hover:text-maincolor-50 block pb-2" href="#">Youtube</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- copyright -->
    <section class="flex flex-wrap items-center md:justify-between justify-center bg-white py-3">
        <div class="px-4 text-center">
            <div class="text-sm text-maincolor-100 font-semibold">
                Copyright © {{getYearForCopyRight}} By Georgie
            </div>
        </div>
    </section>
</footer>