<section class="relative">
    <div class="z-20 relative grid grid-cols-12">
        <div class="col-span-12 sm:col-span-6 bg-[#053354]/40 rounded-r-lg p-10">
            <div class="py-24 px-4 mx-auto container px-10 my-10">
                <h1 class="mb-4 font-semibold text-5xl text-white">აირჩიე კლინიკა რომელსაც შეგიძლია ენდო</h1>

                <span class="bg-white text-maincolor-100 hover:bg-white/80 mt-10 p-2 rounded-full flex flex-row justify-center w-full sm:w-5/12">
                    <img src="assets/images/location.png">
                    <span class="ml-4">
                        იაკობ ნიკოლაძე №10
                    </span>
                    
                </span>
            </div>
        </div>
    </div>
    <div class="absolute inset-0 h-auto z-10">
        <img src="assets/images/slider.png" alt="Header" class="h-full w-full object-cover h-full w-full">
    </div>
</section>